{% extends "layout.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="pl-2 pl-md-4 breadcrumb bg-dark py-0">
        <li class="breadcrumb-item"><a title="Ir para Página inicial" href="{{url_for('index')}}">Página inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page">Currículo</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-sm-1 col-sm-10 col-12">
        <div class="card card-left mb-4" data-aos="fade-up">
            <div class="card-header">
                <h2 class="card-title">Pessoal</h2>            
            </div>
            <div class="card-body">
                <p><b>Nome Completo: </b>Everton Mesquita de Andrade</p>
                <p><b>Idade: </b>21</p>
                <p><b>Sexo: </b>Masculino</p>
                <p><b>Cidade: </b>Brasília-DF / Brasil</p>
            </div>
        </div>

        <div class="card card-left mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card-header">
                <h2 class="card-title">Formação Acadêmica</h2>
            </div>
            <div class="card-body">
                <p><b>Instituição: </b>UniCeub - Campus Brasília</p>
                <p class="ul-title"><b>Nível Acadêmico: </b>Ensino Superior - Ciência da Computação (Cursando 4º semestre)</p>
                <ul>
                    <li><b>Data de ínicio: </b>2019</li>
                    <li><b>Data de término: </b>2023</li>
                </ul>
            </div>
        </div>

        <div class="card card-left mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card-header">
                <h2 class="card-title">Experiência</h2>
            </div>
            <div class="card-body">
                <p class="ul-title"><b>Conhecimentos Básicos nos Sistemas Operacionais: </b></p>
                <ul>
                    <li>Windows</li>
                    <li>Linux - Debian</li>
                </ul>
                <p class="ul-title"><b>Conhecimentos Básicos em Linguagens de Programação: </b></p>
                <ul>
                    <li>Python</li>
                    <li>C#</li>
                    <li>C++</li>
                    <li>Javascript</li>
                    <li>Html</li>
                    <li>Css</li>
                    <li>SQL</li>
                </ul>
                <p class="ul-title"><b>Outros Cursos: </b></p>
                <ul>
                    <li>Game development Unity 2D/3D - Udemy</li>
                    <li>Rotinas Administrativas – CLR, direitos e deveres do empregado – Cedaspy</li>
                    <li>Inglês Instrumental – Inglês validado para área de informática - Cedaspy</li>
                </ul>
            </div>
        </div>

        <div class="card card-left mb-4" data-aos="fade-up">
            <div class="card-header">
                <h2 class="card-title">Atual</h2>
            </div>
            <div class="card-body">
                <p><b>Trabalhando: </b>Não</p>
                <p><b>Disponibilidade: </b>Manhã ou Tarde</p>   
            </div>
        </div>

        <div class="card card-left mb-4" data-aos="fade-up">
            <div class="card-header">
                <h2 class="card-title">Intercâmbio</h2>
            </div>
            <div class="card-body">
                <ul>
                    <li>Orlando - EUA</li>
                    <li>Montevidéu - Uruguai</li>
                </ul>
            </div>
        </div>

        <div class="card card-left mb-4" data-aos="fade-up">
            <div class="card-header">
                <h2 class="card-title">Idiomas</h2>
            </div>
            <div class="card-body">
                <ol>
                    <li>Português</li>
                    <li>Inglês</li>
                </ol>
            </div>
        </div>

        <div class="card card-left mb-4" data-aos="fade-up">
            <div class="card-header">
                <h2 class="card-title">Complementar</h2>
            </div>
            <div class="card-body">
                <p><b>Local de preferência: </b>DF - Brasília</p>
                <p class="ul-title"><b>Hobbies: </b></p>
                <ul>
                    <li>Basquete</li>
                    <li>Video Games</li>
                    <li>Músicas</li>
                    <li>Filmes</li>
                </ul>
                <p><b>Ultima atualização: </b>07/06/2021</p>
            </div>
        </div>

        <div class="card card-left mb-5" data-aos="fade-up">
            <div class="card-header">
                <h2 class="card-title">Contato</h2>
            </div>
            <div class="card-body">
                <p><b>Telefone - Celular: </b>(61) 98141-7101</p>
                <p><b>Email: </b>everton0310@hotmail.com</p>
            </div>
        </div>
    </div>
</div>

<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4 mb-5" data-aos="zoom-out" data-aos-anchor-placement="bottom-bottom">
    <a href="{{url_for('index')}}" class="btn btn-lg btn-secondary btn-block">Voltar</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/js/curriculo.js"></script>
{% endblock %}