{% extends "layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-sm" data-aos="fade-right">
    <h1 class="display-4 text-white">Currículo</h1>
    <p class="lead">Neste currículo estão especificados as experiências pessoais.</p>
    <a class="btn btn-primary btn-lg" href="{{url_for('curriculo')}}" role="button">Ver currículo</a>
</div>

<div class="card card-extra border-primary" data-aos="fade-up">
    <div class="card-header">Extra</div>
    <div class="card-body">
        <button id="btn-verificar-sorte" type="button" class="btn btn-lg btn-primary btn-block">
            Verificar sua sorte
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="../static/js/index.js"></script>
{% endblock %}