<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Everton - {{title}}</title>
        <link rel="icon" type="image/png" href="../static/img/favicon.ico">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/aos-2.3.2/aos.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark py-0 px-0 px-md-1">
                <div class="px-1 px-md-2 container-fluid d-inline-block">
                    <a class="navbar-brand" href="{{url_for('index')}}">
                        <img src="../static/img/favicon.ico" alt="ícone" class="d-inline-block align-bottom"> Everton
                    </a>
                </div>
              </nav>
        </header>

        <main>
            {% block breadcrumb %}
            <nav aria-label="breadcrumb">
                <ol class="pl-2 pl-md-4 breadcrumb bg-dark py-0">
                    <li class="breadcrumb-item active" aria-current="page">Página inicial</li>
                </ol>
            </nav>
            {% endblock %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>    
        {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
        <script src="../static/aos-2.3.2/aos.js"></script>
        {% endblock %}
    </body>
</html>
