body {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.breadcrumb-item.active {
    color: #F1F1F1;
}

p {    
    font-size: 1.2rem;
    color: #F1F1F1;
    margin-bottom: 0.5rem;  
}
p.ul-title {
    margin-bottom: 0;
}

b {
    color: deepskyblue;
}

.btn-link {
    display: flex;
}
.btn-primary, .btn-secondary {
    border-radius: 1.5rem;
}

.jumbotron-sm {
    background-color: #343a40;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.card-extra {
    background-color: #343a40;
    color: white;
    position: fixed;
    bottom: 5%;
    right: 3%;
}

.card-left {    
    padding: 0;
    background-color: #343a40;
    color: white;
    border: none;    
    border-radius: 0 .25rem .25rem 0;
}

.card-header {
    padding-top: .5rem;
    padding-bottom: 0;    
}

.card-header>h2 {
    font-weight: 300;
}

.card-body {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #2D3138;
}

.card-body p {
    font-weight: 300;
}